.simpleButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 20px;
  line-height: 1.5715;
  color: #0f172a;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    color: #3b82f6;
    border-color: #3b82f6;
  }
}
