.groupTitle {
  font-size: 20px;
  font-weight: 500;
}

.groupItem {
  padding: 8px 12px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: #DBEAFE;
    color: #2563EB;
  }

  &.selected {
    background: #DBEAFE;
    color: #2563EB;
  }
}
