.layout {
  display: flex;

  .leftPanel {
    width: 180px;
    height: calc(100vh - 64px);
    padding: 16px;
    background-color: #F8FAFC;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(15,23,42,.08);
  }

  .rightPanel {
    flex: 1;
    padding: 12px;
  }
}

.taskTitle	{
  font-size: 24px;
  font-weight: 600;
}